<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bill.css" />
    <link rel="stylesheet" href="/css/cairo.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>فاتورة مبيعات</title>
  </head>
  <body>
    <div class="bill-container">
      <div class="barnd-container">
        <div class="img-container">
          <img src="/project_files/imgs/Elfath-Logo.png" />
        </div>
        <div class="barnd-name">الفتح ستور</div>
        <div class="phone-numbers">01063310981, 01117119902, 01145681652</div>
      </div>
      <div class="hr"></div>

      <div class="product-container">
        <table class="table">
          <thead>
            <tr>
              <th>الأسم</th>
              <th>العدد</th>
              <th>السعر</th>
            </tr>
          </thead>
          <tbody style="text-align: center; vertical-align: middle">
            <% data.selectedProduct.forEach((ele,index)=>{ %>
            <tr>
              <td><%= ele.name %></td>
              <td><%= ele.quantity %></td>
              <td><%= ele.price %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div>السعر الاجمالي: <b><%= data.totalPrice %></b> جنيه</div>
      <div>العدد الاجمالي: <b><%= data.totalQuantity %></b></div>
      <a href="<%= data.billNumber %>" class="d-none barcode-data"></a>
      <div class="hr"></div>
      <svg id="barcode"></svg>
    </div>

    <script src="../public/js/barcode.js"></script>
    <script>
      let barcode = document.querySelector('#barcode');
      const data = document.querySelector('.barcode-data').getAttribute('href');

      JsBarcode('#barcode', data, {
        background: '#fff',
        color: '#000',
        height: 70,
        displayValue: true,
      });
    </script>
  </body>
</html>
