<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bill.css" />
    <link rel="stylesheet" href="/css/cairo.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>فاتورة مبيعات</title>
  </head>
  <body>
    <div class="bill-container">
      <div class="barnd-container">
        <div class="img-container">
          <img src="/project_files/imgs/Elfath-Logo.png" />
        </div>
        <div class="barnd-name">الفتح ستور</div>
        <div class="phone-numbers">01063310981, 01117119902, 01145681652</div>
      </div>
      <div class="hr"></div>

      <div>الكاشير: <b><%= data.adminName %></b></div>
      <div>فاتوره رقم: <b><%= data.billNumber %></b></div>
      <div>
        التاريخ: <b><%= data.createdAt.toLocaleDateString('ar-EG'); %></b>
      </div>
      <% if (data.userDealer) { %>
      <div class="hr"></div>
      <div>اسم العميل: <b><%= data.userDealer.dealerName %></b></div>
      <div>موبيل رقم: <b><%= data.userDealer.phoneNumber %></b></div>
      <div>عنوان العميل: <b><%= data.userDealer.address %></b></div>
      <div>
        رقم الهاتف الارضي:
        <b
          ><%= data.userDealer.telephoneFix ? data.userDealer.telephoneFix :
          "لايوجد" %></b
        >
      </div>

      <% } %>
      <div class="hr"></div>
      <div class="product-container">
        <table class="table">
          <thead>
            <tr>
              <th>الأسم</th>
              <th></th>
              <th>العدد</th>
              <th>السعر</th>
            </tr>
          </thead>
          <tbody>
            <% data.selectedProduct.forEach((ele,index)=>{ %>
            <tr>
              <td colspan="2"><%= ele.name %></td>
              <td style="max-width: 200px"><%= ele.quantity %></td>
              <td style="max-width: 200px"><%= ele.price %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="hr"></div>
        <div>العدد الاجمالي: <b><%= data.totalQuantity %></b></div>
        <div>السعر الاجمالي: <b><%= data.totalPrice %></b> جنيه</div>
        <!-- <div class="hr"></div>
        <div>
          <b>ملحوظة:</b> هذه الفاتوره تعتبر مستند لسداد قيمة الخدمة المقدمة جميع
          الفواتير لدينا مسجله على النظام
        </div> -->
      </div>
    </div>
  </body>
</html>
