<%- include('./partials/head.ejs') %>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive me-5">
        <table class="table table-bordered text-center my-3">
          <thead>
            <tr class="table-dark">
              <th>#</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price Of One</th>
              <th>Total Price</th>
            </tr>
          </thead>

          <tbody style="vertical-align: middle">
            <% userCart.selectedProduct.forEach((ele,index)=>{ %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ele.name %></td>
              <td>
                <% if (ele.quantity <= 1) { %>
                <a href="#" class="btn me-2 disabled"
                  ><i class="fa-solid fa-square-minus fs-4"></i
                ></a>
                <% }else { %>
                <a href="#" class="btn me-2"
                  ><i class="fa-solid fa-square-minus fs-4"></i
                ></a>
                <% } %> <%= ele.quantity %> <% if (ele.quantity >= ele.
                qtyInStore ) { %>

                <a href="#" class="btn ms-2 disabled"
                  ><i class="fa-solid fa-square-plus fs-4"></i
                ></a>

                <% }else{ %>
                <a href="#" class="btn ms-2"
                  ><i class="fa-solid fa-square-plus fs-4"></i
                ></a>
                <%}%>
              </td>
              <td><%= ele.priceOfOne %></td>
              <td><%= ele.price %></td>
            </tr>
            <% }) %>
            <tr>
              <td colspan="2"></td>
              <td class="fw-bold">
                Total Quantity: <%= userCart.totalQuantity %>
              </td>
              <td></td>
              <td class="fw-bold">Total Price: <%= userCart.totalPrice %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
