<%- include('./partials/head.ejs') %>

<style>
  .input {
    width: 28%;
    margin-right: 30px;
  }
</style>

<div class="container-fluid">
  <form
    action="/recover/add"
    method="post"
    style="align-items: flex-end"
    class="d-flex"
  >
    <span class="input">
      <span class="fs-4">اسم المنتج</span>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="ادخل اسم المنتج"
        name="name"
        required
    /></span>
    <span class="input">
      <span class="fs-4">سعر المنتج</span>
      <input
        type="number"
        class="form-control form-control-lg"
        placeholder="ادخل سعر المنتج"
        name="price"
        required
    /></span>
    <span class="input">
      <span class="fs-4">العدد</span>
      <input
        type="number"
        class="form-control form-control-lg"
        placeholder="ادخل عدد المنتجات"
        name="quantity"
    /></span>

    <button
      class="btn btn-primary btn-lg me-4"
      style="height: fit-content"
      type="submit"
    >
      اضافة
    </button>
  </form>
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-striped text-center my-3">
          <thead>
            <tr class="table-dark">
              <th>#</th>
              <th>اسم المنتج</th>
              <th>سعر المنتج</th>
              <th>العدد</th>
              <th>السعر الاجمالي للمنتج</th>
            </tr>
          </thead>

          <tbody style="vertical-align: middle">
            <% if (data) { %> <% data.forEach((ele,index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ele.name %></td>
              <td><%= ele.price %></td>
              <td><%= ele.quantity %></td>
              <td><%= ele.totalPrice %></td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // to make a confirm to all btns
  let del = document.querySelectorAll(".recover");
  // get array from buttons
  const delBtns = Array.from(del);
  delBtns.forEach((e) => {
    e.addEventListener("click", (el) => {
      if (
        confirm(
          "هل انت متأكد من انك تريد استرجاع الفاتورة مع العلم ان الفاتورة ستحذف من القائمة"
        )
      ) {
      } else {
        el.preventDefault();
      }
    });
  });
</script>

<%- include('./partials/footer.ejs') %>
