<%- include('./partials/head.ejs') %>

<h1 class="my-3 pb-3 text-center border-2 border-bottom">Details Page</h1>

<div class="container d-flex">
  <img
    width="600"
    class="img-thumbnail"
    src="/uploads/images/<%= data.image %>"
    alt=""
  />
  <div class="d-flex flex-column justify-content-between">
    <div>
      <h1>Name: <%= data.name %></h1>
      <h2>Price: <%= data.price %> L.E</h2>
    </div>

    <div>
      <a
        class="btn ms-2 btn-warning"
        style="width: min-content"
        href="/edit/<%= data._id %>"
        >Edit</a
      >
      <a
        class="btn btn-danger delete"
        style="width: min-content"
        href="/delete/<%= data._id %>"
        >Delete</a
      >
    </div>
  </div>
</div>

<script>
  // here we are making the confirm message to delete button
  let del = document.querySelector(".delete");
  del.addEventListener("click", (e) => {
    if (confirm("Do you want to delete") === true) {
    } else {
      e.preventDefault();
    }
  });
</script>

<%- include('./partials/footer.ejs') %>
