<%- include('./partials/head.ejs') %>

<div class="container d-flex">
  <img
    width="600"
    class="img-thumbnail"
    src="/uploads/images/<%= data.image %>"
    alt=""
  />
  <div class="d-flex flex-column justify-content-between">
    <div>
      <h1>Name: <%= data.name %></h1>
      <h2>Price: <%= data.price %> L.E</h2>
    </div>
    <a
      class="btn btn-warning"
      style="width: min-content"
      href="/edit/<%= data._id %> "
      >Edit</a
    >
  </div>
</div>

<%- include('./partials/footer.ejs') %>
