<%- include('./partials/head.ejs') %>

<h1 class="border border-bottom text-center">معلومات السيستم</h1>
<h2>سعر منتجات السيستم كلها: <%= total %></h2>
<h2>السعر الديلر لمنتجات السيستم كلها: <%= totalDealer %></h2>
<h2>السعر الجمله لمنتجات السيستم كلها: <%= totalwholesale %></h2>

<%- include('./partials/footer.ejs') %>
