<%- include('./partials/head.ejs') %>

<div class="container-fluid">
  <h2 class="mt-2 text-center">قائمة فواتير العميل الديلر</h2>

  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table
          class="table table-striped text-center my-3 table-data table-home"
        >
          <thead>
            <tr class="table-dark">
              <th>#</th>
              <th>طباعة</th>
              <th>التاريخ</th>
              <th>السعر الاجمالي</th>
              <th>الكمية</th>
              <th>رقم الفاتورة</th>
              <th>تمت بواسطة</th>
              <th>استرجاع</th>
            </tr>
          </thead>

          <tbody style="vertical-align: middle">
            <% data.forEach((ele,index)=>{ %>
            <tr>
              <td><%= index + 1 %></td>
              <td>
                <a
                  class="btn btn-primary"
                  target="_blank"
                  href="/bills-list/print/<%= ele._id %>"
                  >طباعة</a
                >
              </td>
              <td><%= ele.createdAt.toISOString() %></td>
              <td><%= ele.totalPrice %></td>
              <td><%= ele.totalQuantity %></td>
              <td><%= ele.billNumber %></td>
              <td><%= ele.adminName %></td>
              <td>
                <a
                  class="btn btn-danger recover"
                  href="/bills-list/recover/<%= ele._id %>"
                  >استرجاع</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // to make a confirm to all btns
  let del = document.querySelectorAll(".recover");
  // get array from buttons
  const delBtns = Array.from(del);
  delBtns.forEach((e) => {
    e.addEventListener("click", (el) => {
      if (
        confirm(
          "هل انت متأكد من انك تريد استرجاع الفاتورة مع العلم ان الفاتورة ستحذف من القائمة"
        )
      ) {
      } else {
        el.preventDefault();
      }
    });
  });
</script>

<%- include('./partials/footer.ejs') %>
